{% extends "product/base.html" %}
{% block content  %}
   <div class="container">
    <h1><b>{{product.name}}</b></h1>
    <h3><b>Price:</b> {{product.price}}</h3>
    <h3><b>Category:</b> {{product.category}}</h3>
    <h3><b>Details:</b> </h3>
    <h3>{{product.detail|safe|linebreaks}}</h3>

    
    {% if user.is_authenticated %}
        
            <a class="btn btn-primary" href="{% url 'product_edit' pk=product.pk %}">
                <span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-primary" href="{% url 'product_remove' pk=product.pk %}">
                <span class="glyphicon glyphicon-remove"></span></a>
    {% endif %}
   </div>
{% endblock %}